
.overview {
	display: flex;
	flex-direction: row;	
	width: 100%;
	padding: 10px;
	align-items: center;
	justify-content: center;
	gap: 0px 30%;
}

.overview div {
	width: 30%;
	height: 350px;
	color: black;
	border-radius: 15px;	
	padding: 10px;
}

.overview img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.directory {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: 100px;
	gap: 33%;
	padding: 10%;
}

.directory div {
	background-color: white;
	color: black;
}

.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}



