
.body {
	width: 80%;
	height: fit-content;	
	padding: 40px;
	border-radius: 13px;	
	background-color: black;
	margin: auto;
	opacity: 0.95;	
}

.social_studies {
	display: flex;
	flex-direction: row;	
	gap: 33%;	

}

.social_studies div {
	width: 33%;
	height: fit-content;
}
.social_studies img {
	height: 100%;	
	width: 100%;	
	object-fit: contain;
}

